name: Dispatch build of the truenas-proxmox plugin package

on:
  release:
    types:
      - published
  push:
    branches:
      - master

jobs:
  dispatch:
    name: Dispatch to the build and packager workflow.
    runs-on: ubuntu-latest
    steps:
      - name: Send dispatch request to 'truenas-proxmox-packer' repo.
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          repository: Jonah-May-OSS/truenas-proxmox-packer
          event-type: build_push
          client-payload: '{"ref" : "${{ github.ref }}", "sha": "${{ github.sha }}"}'
